<p><a href="#" class="button">Link Button</a></p>
<p><button class="button">Submit Button</button></p>

<p><a href="#" class="buttonB">Alt Link Button</a></p>
<p><button class="buttonB">Alt Submit Button</button></p>


