/* Import Base Styles */
/*-------------------------------------------
   	Global Starter
-------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, main, summary,
time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, audio, canvas, progress, video {
  display: block; }

a:active,
a:hover {
  outline: 0; }

/* Nice Subs & Sups */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto; }
  a img {
    border: none; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  vertical-align: top; }

::-moz-selection {
  background: #d7d7d7;
  color: #000;
  text-shadow: none; }

::selection {
  background: #d7d7d7;
  color: #000;
  text-shadow: none; }

/* Contain floats: h5bp.com/q */
.group:before, .group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

h1,
h1.af, .button, .buttonB {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Hide only visually, but have it available for screenreaders: */
/* Hide visually and from screenreaders, but maintain layout */
/* for image replacement */
/* Hide for both screenreaders and browsers */
.animate-fade {
  transition: opacity 0.5s ease-out; }

.animate-fade:hover {
  opacity: 0; }

.animate-move > .demo-shape, .button, .buttonB {
  transition: all 0.5s ease-in-out; }

/* Color Variables */
/* Font Sizes */
/* font familes */
/* Site Specific General Styles */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #000000;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px; }

i, em {
  font-style: italic; }

p {
  line-height: 1.2em;
  margin: 0 0 1em; }

ul, dl, ol {
  margin: 0 0 1em; }

ul ul,
ol ol {
  margin: 1em 0 1.5em;
  font-size: .9em; }

li {
  line-height: 1.2em;
  margin: 0 0 .75em; }

dl dt {
  margin: 1.2em 0 1em; }
  dl dt:first-child {
    margin-top: 0; }
dl dd {
  line-height: 1.2em; }

h1,
h1.af {
  font-family: "proxima-nova",sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
  line-height: .85em; }
  @media screen and (min-width: 550px) {
    h1,
    h1.af {
      font-size: 102px; } }

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 27px;
  font-weight: normal;
  text-transform: uppercase; }

h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 21px;
  font-weight: normal;
  text-transform: uppercase; }

h4 {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase; }

h5 {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase; }

h6 {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase; }

.animate-fade {
  transition: opacity 0.5s ease-out; }

.animate-fade:hover {
  opacity: 0; }

.animate-move > .demo-shape, .button, .buttonB {
  transition: all 0.5s ease-in-out; }

h1,
h1.af, .button, .buttonB {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.font-secondary {
  font-family: "proxima-nova", sans-serif; }

/* Custom CSS */
/* Pull in what's needed, create stuff */
.af {
  margin: 15px auto;
  width: 95%; }

.headerSite {
  margin: 40px 0; }
  .headerSite .subhead {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase; }

.footerSite {
  text-align: center; }
  .footerSite p.email {
    margin-bottom: 45px; }
    .footerSite p.email a {
      font-family: "Courier New", Courier, monospace;
      color: #ffffff;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase; }
  .footerSite p.pitt {
    font-family: "proxima-nova",sans-serif;
    text-transform: uppercase;
    font-size: 12px; }

form ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; }
  form ul li {
    padding-left: 0;
    margin-left: 0; }

.input-text, textarea, select, .button, .buttonB {
  opacity: 1;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: none; }

fieldset {
  display: block; }
  fieldset label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px; }

.input-text {
  font-size: 14px;
  padding: 0 5px;
  height: 30px;
  margin: 0 0 10px;
  font-family: "Courier New", Courier, monospace; }
  .input-text.error {
    border: 1px solid red; }

textarea {
  font-size: 14px;
  padding: 10px;
  margin: 0 0 10px;
  font-family: "Courier New", Courier, monospace; }

abbr[title="Required"] {
  color: red; }

select {
  font-size: 14px;
  padding: 0 20px 0 5px;
  height: 30px;
  margin: 0 0 10px;
  font-family: "Courier New", Courier, monospace;
  background: #ffffff url(../../../assets/chevron-down.svg) right 5px center no-repeat;
  background-size: 20px; }

.button {
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 10px 20px; }
  .button:hover, .button:focus {
    background: grey;
    color: #ffffff; }

.buttonB {
  font-size: 12px;
  font-family: "proxima-nova", sans-serif;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 5px 10px; }
  .buttonB:hover, .buttonB:focus {
    background: grey;
    color: #ffffff; }

.subForm form {
  display: block;
  width: 300px;
  margin: 35px auto; }
.subForm input[type="email"],
.subForm button {
  opacity: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none; }
.subForm input[type="email"] {
  width: 150px;
  font-size: 14px;
  padding: 0 5px;
  height: 30px;
  margin: 0 10px 0 0;
  float: left;
  font-family: "Courier New", Courier, monospace; }
.subForm button {
  font-size: 14px;
  height: 30px;
  font-family: "proxima-nova",sans-serif;
  background: #ffffff;
  text-transform: uppercase;
  width: 120px;
  margin: 0;
  display: inline-block;
  float: right;
  transition: all 0.5s ease;
  cursor: pointer; }
  .subForm button:hover {
    background: grey;
    color: #ffffff; }

/*# sourceMappingURL=screen-pre.css.map */
