<nav id="mainNav" class="mainNav">
	<ul>
		<li><a href="{{ url }}">Store</a></li>
		<li><a href="{{ url }}">Releases</a></li>
		<li><a href="{{ url }}">Info</a></li>
		<li><a href="{{ url }}">Contact</a></li>		
	</ul>
</nav><!--end .nav-->
