.footerSite {
	
	text-align: center;
	
	p.email {
	  margin-bottom: 45px;
	  
		a {
		  font-family: "Courier New", Courier, monospace;
		  color: #ffffff;
		  font-size: 14px;
		  text-decoration: none;
		  text-transform: uppercase;		  
		}
	}
	
	p.pitt {
	  font-family: "proxima-nova",sans-serif;
	  text-transform: uppercase;
	  font-size: 12px;		
	}
}