/* Color Variables */

$black: 			rgb(0,0,0);
$white: 			rgb(255,255,255);
$off-white:			rgba(255,255,255,.5);
$gray:				grey;

// GENERAL Breakpoint Variables

// IN general, these are the main breakpoints. But, there are a few custom ones throughout when needed.

// Going Up -->
// Min Widths

$medium:  	680px; // min-width
$large:   	900px; // min-width

  
/* Font Sizes */
// Not really using these at all.

$base: 16px;
$base-font-size: 16px;

/* font familes */
$courier: "Courier New", Courier, monospace;
$proxima: "proxima-nova",sans-serif;


/* Site Specific General Styles */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body { 
	background: #000000;
	color: #ffffff;
	font-family: $courier;
	font-size: $base;
}

b, strong{
}

i, em {
	font-style: italic;
}

p {
	line-height: 1.2em;
	margin: 0 0 1em;
}

ul, dl, ol { 
	margin: 0 0 1em;
}

ul ul,
ol ol {
	margin: 1em 0 1.5em;
	font-size: .9em;
}

li {
	line-height: 1.2em;
	margin: 0 0 .75em;
}

dl {
	
	dt {
		margin: 1.2em 0 1em;
		
		&:first-child {
			margin-top:0;
		}	
	}
	
	dd {
		line-height: 1.2em;
	}
}


a {
	color: $white;
	border-bottom: 1px solid $white;
	text-decoration: none;
	@extend %transition;
	
	&:hover,
	&:active,
	&:focus {
		border-bottom: 1px solid transparent;
	}
}

h1,
h1.af {
	@extend %fontLegibility;
	font-family: "proxima-nova",sans-serif;
	font-size: 72px;
	text-transform: uppercase;
	text-align: center;
	line-height: .85em;
	margin:0;
	padding:0;
	
	@media screen and (min-width: 550px) { 
		font-size: 102px;
	}
}

h2 {
	font-family: "Courier New", Courier, monospace;
	font-size: 27px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: .5em;
}

h3 {
	font-family: "Courier New", Courier, monospace;
	font-size: 21px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top:0;
}

h4 { 
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase; 
	margin-top:0;
}
h5 { 
	
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top:0;
}

h6 { 	
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top:0;
}


blockquote {
	
	border-left: 5px solid $white;
	padding: 10px 20px 5px;
	
  
}


table {
	border-collapse: collapse;
    border-spacing: 0;
    
    
    th {
	    padding: 5px 10px;
	    vertical-align: top;
	    text-align: center;
	    font-weight: normal;
	    font-family: $proxima;
	    text-transform: uppercase;
	    @extend %fontLegibility;
	    font-size: 13px;
	    
    }
    
    td {
	    padding: 5px 10px;
	    font-size: 13px;
	    text-align: center;	    
    }
	
	
}





// Some Pattern Lab Stuff
.font-secondary {
	font-family: $proxima;
}