<p>Primary font: "Courier New", Courier, monospace;</p>
<p><em>Primary font italic: "Courier New", Courier, monospace;</em></p>
<p><strong>Primary font bold: "Courier New", Courier, monospace;</strong></p>
<p class="font-secondary">Secondary font: "proxima-nova",sans-serif;</p>
<p class="font-secondary"><em>Secondary font italic: "proxima-nova",sans-serif;;</em></p>
<p class="font-secondary"><strong>Secondary font bold: "proxima-nova",sans-serif;;</strong></p>